<!DOCTYPE html>
<html>
    <head>
        <title>My first Vue app</title>
        <script src="https://unpkg.com/vue"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    </head>
    <body>
        <div id="app">
            {{ message }}
        </div>

        <div id="app-2">
            <span v-bind:title="message">
                Hover your mouse to see a message!
            </span>
        </div>

        <div id="app-3">
            <span v-if="seen">
                Now u see me!
            </span>
        </div>
        <div id="app-4">
            <ol>
                <li v-for="todo in todos">
                    {{ todo.text }}
                </li>
            </ol>
        </div>
        <div id="app-5">
            <p>{{ message }}</p>
            <button v-on:click="reverseMessage">Reverse Message</button>
        </div>
        <div id="app-6">
            <p>{{ message }}</p>
            <input v-model="message">
        </div>
        <div id="app-7">
            <br><p>Here start the component!!</p>
            <ol>
                <todo-item
                    v-for="item in groceryList"
                    v-bind:todo="item"
                    v-bind:key="item.id">
                </todo-item>
            </ol>
        </div>

    <script>
    var app = new Vue({
              el: '#app',
              data: {
                message: 'Hello Vue!'
                    }
                  })
    var app2 = new Vue({
              el: '#app-2',
              data: {
                message: 'You loaded this page on ' + new Date().toLocaleString()
                    }
                  })

    var app3 = new Vue({
              el: '#app-3',
              data: {
                seen: true
                    }
                  })
    var app4 = new Vue({
              el: '#app-4',
              data: {
                todos: [
                        { text:'Learn Vue'  },
                        { text:'Learn R'  },
                        { text:'Learn Binary Tree in C'  },
                        { text:'Be awesome!!!'  }
                    ]
                }
              })
    var app5 = new Vue({
              el: '#app-5',
              data: {
                message: 'Its Working!!!!'
                    },
              methods: {
                  reverseMessage: function () {
                        this.message = this.message.split('').reverse().join('')
                    }
              }
          })
    var app6 = new Vue({
              el: '#app-6',
              data: {
                message: 'Hello Vue!'
                    }
                  })
    </script>
    <script>
        Vue.component('todo-item', {
            props: ['todo'],
            template: '<li>{{ todo.text }}</li>'
        })
    var app7 = new Vue({
              el: '#app-7',
              data: {
                groceryList: [
                        { id: 0, text:'Pineapple'  },
                        { id: 1, text:'Vegetables'  },
                        { id: 2, text:'Apple'  },
                        { id: 3, text:'Surprise'  }
                    ]
                }
              })
    </script>
    </body>
</html>

